[submodule "prototyping-base-udm/external-module/SB-Admin-BS4-Angular-2"]
	path = prototyping-base-udm/external-module/SB-Admin-BS4-Angular-2
	url = https://github.com/start-angular/SB-Admin-BS4-Angular-2
[submodule "prototyping-base-udm/external-module/sb-admin-angular"]
	path = prototyping-base-udm/external-module/sb-admin-angular
	url = https://github.com/start-angular/sb-admin-angular
