<div class="btn-group pagination" role="group">
    <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-th"></span>
        Em Planilha
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Toda tabela</a></li>
        <li><a href="#">Somente selecionados</a></li>
        <li><a href="#">Apenas da pagina atual</a></li>
    </ul>
</div>