<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />        
    </head>
    <body>
        <div id="header-content" th:fragment="header-content">
            Header Template
        </div>

        <div id="letf-content" th:fragment="letf-content">
            Left Template
        </div>

        <div id="body-content" th:fragment="body-content">
            Body Template
        </div>

        <div id="footer-content" th:fragment="footer-content">
            Footer Template
        </div>
    </body>
</html>
