<div class="form-group input-group">
    <select class="form-control" 
            id="partner-select"
            ng-init="selectList('pattern')"
            ng-model="model.entity.property"
            ng-options="x.name for x in model.selectList.pattern track by x.id">
        <option value=""></option>
    </select>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button"
                ng-click="model.entity.property = model.entity.property || {classe: 'pattern'}; modalOpen('pattern', 'model.entity.property', '/app/component/form/pattern');"
                ng-disabled="!model.selectList.property">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>
