
<div class="form-group input-group">
    <span class="input-group-addon">
        <i class="fa fa-search  "></i>
    </span>
    <input type="text" class="form-control" 
           id="classe-input" required=""
           ng-disabled="model.entity.property.id"
           ng-model="model.entity.property.name"
           autocomplete="off">
    </input>
    <input type="hidden" class="form-control" 
           id="classe-input-id"
           ng-model="model.entity.property.id">
    </input>
    <script type="text/javascript">
        $('#classe-input').autocomplete({
            source: function (request, response) {
                $.get("/app/rest/classe", {
                    name: request.term
                }, function (data) {
                    response($.map(data, function (item) {
                        return {label: item.name, value: item.name, id: item.id, name: item.name};
                    }));
                });
            }, select: function (event, ui) {
                var inputid = $('#classe-input-id')[0];
                var scope = angular.element(inputid).scope();
                scope.$apply(function () {
                    scope.model.entity.property = ui.item;
                });
            }
        });
    </script>
    <span class="input-group-btn">
        <button class="btn btn-default" 
                ng-disabled="!model.entity.property.id" 
                type="button" ng-click="model.entity.property = {};">
            <i class="fa fa-remove"></i>
        </button>
        <button class="btn btn-default" 
                ng-disabled="model.entity.property.id" 
                type="button">
            <i class="fa fa-plus"></i>
        </button>
    </span>                                                
</div>
