<ul class="pagination pull-right">
    <li ng-class="{disabled: model.currentPage == 0}">
        <a href="javascript:;" ng-click="prevPage()">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </li>

    <li ng-repeat="n in numToArray(model.totalPages) track by $index"
        ng-class="{active: n == model.currentPage}"
        ng-click="setPage(n)">
        <a href="javascript:;" ng-bind="n + 1">1</a>
    </li>

    <li ng-class="{disabled: model.currentPage == model.totalPages - 1}">
        <a href="javascript:;" ng-click="nextPage()">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </li>
</ul>
